@media screen and (max-width:500px) {
    .main-content{
        
    }
    .nav-container{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-item-container{
        flex-direction: column;
        align-items: center;
        
    }
    .logo-container{
        width: auto;
        margin-left: -16px;
    }
    .nav-item-container a{
        margin-top: 10px;
    }
    .nav-item-container, .follow-btn{
        width: 200px;
        text-align: center;
        margin-top: -15px;
    }
    /* nav end here */
    /* banner start here */
    .banner-container{
        flex-direction: column;
        height: 650px;
    }
    .banner-content, .banner-img{
        width: 100%;
    }
    .banner-content{
        padding: 0px;
        padding-left: 15px;
        padding-top: 20px;
        text-align: center;
    }
    .banner-img{
        padding-left: 20px;
        margin-top: 20px;
    }
    .bannertwo-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .bannertwo-content{
        text-align: center;
        width: auto;
        padding-left: 40px;
        margin-top: -30px;
    }
    .bannertwo-image{
        width: 100%;
    }
    .section-contect3{
        text-align: center;
        padding-top: 200px;
    }
    .cards{
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .card1{
        width: 100%;
        padding-top: 15px;
    }
    .card2{
        width: 100%;
        
    }
    .card3{
        width: 100%;
        
    
    }
    .card4{
        width: 100%;
        padding-top: 15px;
    }
    /* card end here */
    .banner3-container{
    
        flex-direction: column;
        padding: 0px;
        margin-top: 1400px;
        align-items: center;
        padding-left: 60px;
    }
    .banner3-content{
    
        text-align: center;
        padding-right: 30px;
        
    }
    .banner3-image .banner-3-image1{
        width: 95%;
        
    }
    .banner3-image .banner-3-image2{
        width: 100px;
        margin-top: -160px;
        margin-left: -60px;
    }
    .game-section{
        width: 425px;
        height: 370px;
    }
    .games-container{
        display: grid;
        
        gap: 25px;
        margin-top: 10px;
        grid-template-columns: repeat(2,1fr);
        padding-left: 16px;

    }
    .footter-container{
    
        width: 425px;
        height: 380px;
        background: black;
    }
    .conteccte{
        padding-left: 120px;
        
    }
    .footer-content-story{
        color: aliceblue;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 425px;
        height: 40px;
        
        align-items: center;
        margin-left: 30px; 
    }
    .footer-logos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size: 20px;
        width: 425px;
        height: 10px;
        margin-left: 50px;
        margin-top: 0px;
    }
    .footer-content-privacy{
        color: white;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 425px;
        height: 40px;
        
        align-items: center;
        margin-left: 20px;
        margin-top: 100px;
    }
    .Play-Games{
        color: aliceblue;
        padding-top: 30px;

    }
}

