@media screen and (max-width:500px) {
    .main-content{
        
    }
    .nav-container{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-item-container{
        flex-direction: column;
        align-items: center;
        
    }
    .logo-container{
        width: auto;
        margin-left: -16px;
    }
    .nav-item-container a{
        margin-top: 10px;
    }
    .nav-item-container, .follow-btn{
        width: 200px;
        text-align: center;
        margin-top: -15px;
    }
    /* nav end here */
    /* banner start here */
    .banner-container{
        flex-direction: column;
        height: 650px;
    }
    .banner-content, .banner-img{
        width: 100%;
    }
    .banner-content{
        padding: 0px;
        padding-left: 15px;
        padding-top: 20px;
        text-align: center;
    }
    .banner-img{
        padding-left: 20px;
        margin-top: 20px;
    }
}

